


<div>
  <!-- <h3>Ejemplo de directiva ngif con metodo</h3>
  <hr>
  <app-ejdirectivangif></app-ejdirectivangif> -->

  <!-- <h3>Ejemplo directiva ngStyle</h3>
  <hr>
  <app-ejdirectivangstyle></app-ejdirectivangstyle> -->

  <!-- <h3>Ejemplo de la directiva ngClass</h3>
  <hr>
  <app-ejdirectivangclass></app-ejdirectivangclass> -->

  <!-- <h3>Ejemplo de la directiva ngFor</h3>
  <hr>
  <app-ejdirectivangfor></app-ejdirectivangfor> -->

  <!-- <h3>Ejemplo de las Directivas ngFor de objetos</h3>
  <hr>
  <app-ejarrayobjetos></app-ejarrayobjetos> -->

  <!-- <h3>Ejemplo Directiva ngSwitch</h3>
  <hr>
  <app-ejdirectivangswitch></app-ejdirectivangswitch> -->

  <h3>Ejemplo de Directiva propia con HostBinding y HostListener</h3>
  <hr>
  <app-ejmidirectiva></app-ejmidirectiva>


</div>

